@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@500&display=swap');
@import 'theme.css';

@import 'normalize.css';

@font-face {
  font-family: "Eigerdals";
  src: url("assets/eigerdals.woff2") format("woff2");
}

:root {
  --bg: #FFFFFF;
  --text: #212121;
  --accent: linear-gradient(to right, #FFC23C, #FE759B, #CE7FBD, #79A2F4);
  --accentr: linear-gradient(to bottom, #FFC23C, #FE759B, #CE7FBD, #79A2F4);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75em;
  background-color: var(--bg);
  color: var(--text);
  padding: 0 20px;
  margin-top: 16em;
  min-height: calc(100svh - 16em);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto auto;
}

header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 5em;
  position: sticky;
  top: -1px;
  z-index: 1000;
}

header h1 {
  display: inline-block;
  font-size: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eigerdals';
  line-height: 1.75em;
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b,
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  color: #000;
  font-weight: 800;
}

#high {
  font-size: 2em;
  margin: 2.5em 0;
  padding: 0;
}

#high h2 {
  line-height: 1.25em;
  margin: 0 0 0 -0.25em;
}

header nav {
  color: #666;
  margin: 0;
  height: 1.5em;
  font-size: 0.9em;
}

header nav a {
  text-decoration: none;
  color: var(--text);
}

header nav a:hover {
  text-decoration: underline;
}

header nav strong {
  font-weight: 400;
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
}

header.pinned {
  width: auto;
  max-width: none;
  margin: 0 -20px;
  box-sizing: border-box;
  display: block;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

header.pinned nav {
  position: absolute;
  line-height: 2em;
  height: 2em;
  padding-left: 2em;
}

header.pinned nav strong {
  color: var(--bg);
}


header.pinned h1 {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
  line-height: 2em;
  background-image: var(--accent);
  background-clip: content-box;
  border-bottom: 0.5em solid var(--bg);
}

header.pinned h1, header.pinned h1 a {
  color: var(--bg);
}

article {
  position: relative;
}

article p {
  max-width: 720px;
  margin: 2em 0;
}

article a {
  text-decoration: none;
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  font-family: 'Eigerdals';
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 0.25em;
  border-radius: 0.3em;
}

article a:hover {
  background-clip: border-box;
  color: var(--bg);
}

p b {
  font-weight: 700;
}

article blockquote {
  margin: 0 40px;
  width: 640px;
  box-sizing: border-box;
  border-left: 4px solid red;
  border-image: var(--accentr) 0 0 0 1;
  padding: 0 40px;
}

.katex { font-size: 1.1em; }
.katex-block { font-size: 1.25em; }

.sidenote {
  text-align: left;
  display: block;
  font-size: 0.75em;
  width: 260px;
  color: var(--text);
  border-top: 2px solid;
  border-image: var(--accent) 1 0 0 0;
  padding: 0.5em 0 1em 0;

  line-height: 1.4em;
  position: absolute;
  left: 740px;
}

.sidenote p {
  margin: 0 0 1em 0;
}

blockquote .sidenote {
  padding: 0;
  margin-top: -0.5em;
  border: none;
}

.sidenote-ref {
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;

  font-size: 0.5em;
  width: 0.5em;
  padding: 0;
  line-height: 1em;
  text-align: left;
  display: inline-block;
  vertical-align: super;
  white-space: nowrap;
}

.sidenote-ref-inline {
  width: 0;
}
pre {
  width: 720px;
  border-radius: 10px;
  line-height: 1.2em;
  background-image: var(--accent);
  padding: 6px;
  box-sizing: border-box;
}

code {
  overflow: auto;
  border-radius: 7px;
  padding: 1em;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-variant-ligatures: none;
  font-size: 14px;
  letter-spacing: .1px;
  tab-size: 2;
}

pre code {
  display: block;
}

p code {
  color: #FFFFFF;
  background-color: #261E39;
  padding: 0.25em 0.75em;
  border-radius: 5px;
}

aside {
  margin-top: 10em;
}

footer {
  margin-top: 10em;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  line-height: 2em;
  gap: 1.5em;
}

footer #ff {
  display: block;
  background-image: var(--accent);
  width: 2em;
  height: 2em;
}

footer a {
  text-decoration: none;
  color: var(--text);
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1050px) {
  header {
    max-width: 720px;
    margin: 0 auto;
  }

  article {
    max-width: 720px;
    margin: 0 auto;
  }

  .sidenote {
    width: 60%;
    margin: 2em 0 2em 40%;
    position: relative;
    padding-bottom: 0;
    top: 0 !important;
    left: 0 !important;
  }
}
