@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@500&display=swap');
@import 'theme.css';

@import 'normalize.css';

@font-face {
  font-family: "Eigerdals";
  src: url("assets/eigerdals.woff2") format("woff2");
}

:root {
  --bg: #FFFFFF;
  --text: #212121;
  --link: #99A;
  --accent: linear-gradient(to right, #FFC23C, #FE759B, #CE7FBD, #79A2F4);
  --accentr: linear-gradient(to bottom, #FFC23C, #FE759B, #CE7FBD, #79A2F4);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75em;
  background-color: var(--bg);
  color: var(--text);
  padding: 0 20px;
  margin-top: 10svh;
  min-height: calc(100svh - 10svh);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto auto;
}

header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 7svh;
  position: sticky;
  top: -1px;
  z-index: 1000;
}

header h1 {
  font-size: 2.5em;
  line-height: 1.35em;
}

article h2 {
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eigerdals';
  line-height: 1.75em;
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  font-weight: 800;
  margin: 0;
  padding: 0;
  display: block;
  width: max-content;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b,
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  color: #000;
  font-weight: 800;
}

header nav {
  color: #666;
  margin: 0;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 0.9em;
}

header nav a {
  text-decoration: none;
  color: var(--text);
}

header nav a:hover {
  text-decoration: underline;
}

header nav strong {
  font-weight: 400;
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  padding: 0 0.5em;
  color: transparent;
}

header.pinned {
  width: auto;
  max-width: none;
  margin: 0 -20px;
  box-sizing: border-box;
  display: block;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

header.pinned nav {
  position: absolute;
  line-height: 2.25em;
  height: 2.25em;
  padding-left: 2em;
}

header.pinned nav strong {
  color: var(--bg);
}

header.pinned h1 {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
  line-height: 2em;
  background-image: var(--accent);
  background-clip: content-box;
  border-bottom: 0.5em solid var(--bg);
}

header.pinned h1, header.pinned h1 a {
  color: var(--bg);
}

#high a, #else a, #other a {
  text-decoration: none;
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  font-family: 'Eigerdals';
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 0.25em;
  border-radius: 0.3em;
}

#high a:hover, #else a:hover, #other a:hover {
  background-clip: border-box;
  color: var(--bg);
}

#high {
  font-size: min(2em, 3vw);
  margin: 3.5em 0;
  padding: 0;
}

#high h2 {
  line-height: 1.25em;
  margin: 0 0 0 -0.25em;
}

#else {
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 1.2em;
}

#else p {
  margin: 0;
  padding: 0;
}

#else a {
  display: inline-block;
}

#else a:hover {
  background-image: var(--accent);
  background-size: 100%;
  color: var(--bg);
}

article {
  position: relative;
  padding-top: 5lvh;
  box-sizing: border-box;
  counter-reset: section;
}

article p, article ul, article ol {
  width: 720px;
  max-width: 90%;
  margin: 2em 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li:before {
  font-family: 'Eigerdals', sans-serif;
  content: "\25A0";
  color: var(--text);
  margin-left: 20px;
  padding-right: 10px;
}

article a {
  color: var(--link);
  font-weight: 600;
  text-decoration: underline dotted;
  position: relative;
}

article a:hover {
  color: #C64D7B;
}

block {
  font-family: 'Eigerdals';
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 0.25em;
}

p b {
  font-weight: 700;
}

article blockquote {
  margin: 0 40px;
  width: 640px;
  max-width: 90%;
  box-sizing: border-box;
  border-left: 4px solid red;
  border-image: var(--accentr) 0 0 0 1;
  padding: 0 0 0 40px;
}

article img {
  max-width: 90vw;
  height: auto;
  display: block;
  margin: 2em auto;
}

.katex { font-size: 1.1em; }
.katex-block { font-size: 1.25em; }

.sidenote {
  text-align: left;
  display: block;
  font-size: 0.75em;
  width: 260px;
  color: var(--text);
  border-top: 2px solid;
  border-image: var(--accent) 1 0 0 0;
  padding: 0.5em 0 1em 0;

  line-height: 1.4em;
  position: absolute;
  left: 740px;
}

.sidenote-noblock {
  border: none;
  padding: 0;
}

.sidenote p {
  margin: 0 0 1em 0;
}

blockquote .sidenote {
  padding: 0;
  margin-top: -0.5em;
  border: none;
}

.sidenote-ref {
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;

  font-size: 0.5em;
  width: 0.5em;
  padding: 0;
  line-height: 1em;
  text-align: left;
  display: inline-block;
  vertical-align: super;
  white-space: nowrap;
}

.sidenote-ref-inline {
  display: none;
}

pre {
  width: 720px;
  border-radius: 10px;
  line-height: 1.2em;
  background-image: var(--accent);
  padding: 6px;
  box-sizing: border-box;
}

code {
  overflow: auto;
  border-radius: 7px;
  padding: 1em;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-variant-ligatures: none;
  font-size: 14px;
  letter-spacing: .1px;
  tab-size: 2;
}

pre code {
  display: block;
}

p code {
  color: #FFFFFF;
  background-color: #261E39;
  padding: 0.25em 0.75em;
  border-radius: 5px;
}

aside {
  margin-top: 14svh;
}

article hr {
  background-image: var(--accent);
  height: 6px;
  border-radius: 3px;
  margin: 5em 39% 5em 11%;
  border: none;
  width: 50%;
}

article hr.section {
  background-image: none;
  max-width: 100%;
  margin: 5em 0;
  width: 720px;
  text-align: center;
}

article hr.section:after {
  counter-increment: section;
  content: counter(section, upper-roman);

  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  font-family: 'Eigerdals';
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 800;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

article .star {
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 1.25em;
}


dl#fluxlist {
  column-width: 240px;
  column-fill: balance;
}

dl#fluxlist dt {
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  color: transparent;

  font-family: 'Eigerdals';
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  margin-top: 2em;
}

dl#fluxlist div {
  break-inside: avoid-column;
}

dl#fluxlist dd {
  margin: 0 0 0.4em 2em;
  line-height: 1.2em;
  text-indent: -2em;
}

dl#fluxlist dd a {
  background-image: none;
  color: var(--text);
  text-decoration: underline;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: none;
}

dl#fluxlist dd a:hover {
  text-decoration: underline;
  color: #4B78D3;
}

dl#fluxlist hr {
  column-span: all;
  margin: 5em auto;
  width: 60%;
}

footer {
  margin-top: 14svh;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  line-height: 2em;
  gap: 1.5em;
}

footer #ff {
  display: block;
  background-image: var(--accent);
  background-clip: border-box;
  padding: 0.4em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.2em;
}

footer a {
  text-decoration: none;
  color: var(--text);
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1050px) {
  body {
    padding: 0;
  }

  header {
    width: 720px;
    max-width: 90dvw;
    box-sizing: border-box;
    box-sizing: border-box;
  }

  header.pinned {
    width: calc(100vw - (100vw - 100%));
    margin: 0;
  }

  header.pinned nav {
    background-image: var(--accent);
    background-clip: border-box;

    position: relative;
  }

  main {
    width: 720px;
    max-width: 90dvw;
    box-sizing: border-box;
    margin: 0 auto;
  }

  article {
    width: 720px;
    max-width: 90dvw;
    box-sizing: border-box;
    margin: 0 auto;
  }

  article p, article ul, article ol {
    max-width: 100%;
  }

  article hr {
    margin: 5em auto;
    width: 50%;
  }

  aside {
    max-width: 90dvw;
    box-sizing: border-box;
  }

  footer {
    max-width: 90dvw;
    box-sizing: border-box;
    width: 720px;
  }

  .sidenote {
    width: 60%;
    margin: 2em 0 2em 40%;
    position: relative;
    padding-bottom: 0;
    top: 0 !important;
    left: 0 !important;
  }
}
